:root {
    --color-primary: #282828;
    --color-primary-light: #393939;
    --color-secondary: #36BF7F;
    --color-secondary-light: #75d3a7;
    --color-secondary-dark: #1C5E3E;
    --color-secondary-pale: #def4e9;
    --color-accent: #D96666;
  }
  